.intro {
  width: 100%;
  position: relative;
}

.intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.2);
}

.intro img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__headline {
  position: absolute;
  top: 343px;
  width: 1020px;
  left: calc(50% - 1020px/2);
  text-align: center;
  z-index: 1;
}

.intro .headline__large {
  color: white;
}

.intro__button {
  position: absolute;
  top: 575px;
  right: 45%;
  z-index: 1;
  width: 210px;
  border-radius: 32px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  font-weight: 400;
}

.intro__button img {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 42px;
  left: 48%;
}

.dashes__long {
  width: 28px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 2px;
}

.dashes__short {
  width: 10px;
  height: 4px;
  margin-left: 6px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2px;
}

.gallery {
  margin-top: 120px;
  margin-right: 32px;
  margin-left: 32px;
}

.gallery__overline {
  text-align: center;
}

.gallery__title {
  margin-top: 12px;
  text-align: center;
}

.gallery__mehr {
  margin-top: 64px;
  text-align: center;
}

.gallery__mehr img {
  width: 20px;
  height: 20px;
  margin-left: 9px;
}

.gallery__mehr .underline {
  padding-bottom: 5px;
  background: url(../../assetst/icons/line.png) bottom repeat-x;
}

.gallery__grid {
  margin-top: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__grid-large {
  width: 50%;
  margin-right: 6px;
  position: relative;
}

.gallery__grid-large--button {
  width: 190px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  padding: 16px 0px;
  z-index: 1;
  position: absolute;
  left: calc(50% - 190px/2 + 0.5px);
  top: calc(50% - 56px/2);
}

.gallery__grid-large .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-large img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__grid-large::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(.png);
}

.gallery__grid-small {
  width: 50%;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__grid-small--one {
  position: relative;
}

.gallery__grid-small--one--button {
  width: 194px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  padding: 16px 0px;
  z-index: 1;
  position: absolute;
  left: calc(50% - 194px/2 + 0.5px);
  top: calc(50% - 56px/2);
}

.gallery__grid-small--one .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-small--one img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__grid-small--one:nth-child(1) {
  margin-bottom: 6px;
}

.gallery__grid-small--one:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(.png);
}

.gallery__grid-small--one:nth-child(2) {
  margin-top: 6px;
}

.gallery__grid-small--one:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.12))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(.png);
}

body {
  background-color: #F6F1EC;
  margin-left: 0px;
  margin-right: 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}

.nav__left {
  margin-left: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__left a {
  text-decoration: none;
  color: black;
  padding-right: 24px;
}

.nav__logo {
  padding-top: 20px;
}

.nav__right {
  margin-right: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__right a {
  text-decoration: none;
  color: black;
}

.nav__right a:nth-child(1) {
  margin-right: 32px;
}

.nav__right a:nth-child(2) {
  margin-right: 35px;
}

.nav__right img {
  padding-left: 22px;
}
/*# sourceMappingURL=main.css.map */