.intro {
  width: 100%;
  position: relative;
}

.intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.2);
}

.intro img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__headline {
  position: absolute;
  top: 343px;
  width: 1020px;
  left: calc(50% - 1020px/2);
  text-align: center;
  z-index: 1;
}

.intro .headline__large {
  color: white;
}

.intro__button {
  position: absolute;
  top: 575px;
  right: 45%;
  z-index: 1;
  width: 210px;
  border-radius: 32px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  font-weight: 400;
}

.intro__button img {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 42px;
  left: 48%;
}

.dashes__long {
  width: 28px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 2px;
}

.dashes__short {
  width: 10px;
  height: 4px;
  margin-left: 6px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2px;
}

.gallery {
  margin-top: 120px;
  margin-right: 32px;
  margin-left: 32px;
}

.gallery__overline {
  text-align: center;
}

.gallery__title {
  margin-top: 12px;
  text-align: center;
}

.gallery__mehr {
  margin-top: 64px;
  text-align: center;
  cursor: pointer;
}

.gallery__mehr img {
  width: 20px;
  height: 20px;
}

.gallery__mehr .underline {
  margin-right: 9px;
  padding-bottom: 5px;
  background: url(../../assetst/icons/line.png) bottom repeat-x;
}

.gallery__grid {
  margin-top: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__grid-large {
  width: 50%;
  margin-right: 6px;
  position: relative;
}

.gallery__grid-large--button {
  width: 190px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  padding: 16px 0px;
  z-index: 1;
  position: absolute;
  left: calc(50% - 190px/2 + 0.5px);
  top: calc(50% - 56px/2);
}

.gallery__grid-large .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-large img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__grid-large::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(.png);
}

.gallery__grid-small {
  width: 50%;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__grid-small--one {
  position: relative;
}

.gallery__grid-small--one--button {
  width: 194px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  padding: 16px 0px;
  z-index: 1;
  position: absolute;
  left: calc(50% - 194px/2 + 0.5px);
  top: calc(50% - 56px/2);
}

.gallery__grid-small--one .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-small--one img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__grid-small--one:nth-child(1) {
  margin-bottom: 6px;
}

.gallery__grid-small--one:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(.png);
}

.gallery__grid-small--one:nth-child(2) {
  margin-top: 6px;
}

.gallery__grid-small--one:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.12))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(.png);
}

.services {
  margin-top: 120px;
}

.services__subtitle {
  text-align: center;
  color: #7C7269;
}

.services__title {
  margin-top: 12px;
  text-align: center;
}

.services__grid {
  margin-top: 64px;
  margin-right: 32px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__grid-card {
  width: 33.3%;
}

.services__grid-card--image {
  position: relative;
}

.services__grid-card--image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.services__grid-card--image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__grid-card--image:nth-child(1) {
  padding-right: 6px;
}

.services__grid-card--image:nth-child(2) {
  padding-left: 6px;
  padding-right: 6px;
}

.services__grid-card--image:nth-child(3) {
  padding-left: 6px;
}

.services__grid-card--image div {
  position: absolute;
  width: 219px;
  left: calc(50% - 219px/2);
  top: calc(50% - 56px/2);
  padding: 16px 0px;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}

.services__grid-card--image div img {
  margin-left: 7px;
  width: 16px;
  height: 16px;
}

.services__grid-card--text {
  width: 80%;
  margin-top: 16px;
  color: black;
}

.unterschied {
  text-align: center;
  margin: 200px 0px;
}

.unterschied__grid {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 256px;
  margin-right: 256px;
}

.unterschied__grid-card {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unterschied__grid-card img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.unterschied__grid-card:nth-child(1) {
  padding-right: 90px;
}

.unterschied__grid-card:nth-child(2) {
  padding-right: 90px;
  padding-left: 90px;
}

.unterschied__grid-card:nth-child(3) {
  padding-left: 90px;
}

.unterschied__grid-card--title {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 46px;
}

.unterschied__grid-card--text {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #7C7269;
  margin-top: 8px;
}

.shop {
  position: relative;
  margin: 0px 32px;
}

.shop img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__button {
  z-index: 1;
}

.shop__button-previus {
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 50px;
  background: #00000040;
}

.shop__button-previus img {
  width: 48px;
  height: 48px;
}

.shop__button-next {
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 50px;
  background: #00000040;
}

.shop__button-next img {
  rotate: 180deg;
  width: 48px;
  height: 48px;
}

.shop__popup-table {
  position: absolute;
  left: 19.45%;
  bottom: 24.45%;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.shop__popup-table::before, .shop__popup-table::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop__popup-table:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop__popup-table img {
  width: 56px;
  height: 56px;
}

.shop__popup-table .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.shop__popup-table .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop__popup-table .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop__popup-table .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop__popup-table .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop__popup-table .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop__popup-lamp {
  position: absolute;
  cursor: pointer;
  top: 42.92%;
  left: 31.2%;
}

.shop__popup-lamp::before, .shop__popup-lamp::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop__popup-lamp:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop__popup-lamp img {
  width: 56px;
  height: 56px;
}

.shop__popup-lamp .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.shop__popup-lamp .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop__popup-lamp .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop__popup-lamp .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop__popup-lamp .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop__popup-lamp .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop__popup-sofa {
  position: absolute;
  cursor: pointer;
  bottom: 33.27%;
  left: 60.75%;
}

.shop__popup-sofa::before, .shop__popup-sofa::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop__popup-sofa:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop__popup-sofa img {
  width: 56px;
  height: 56px;
}

.shop__popup-sofa .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.shop__popup-sofa .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop__popup-sofa .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop__popup-sofa .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop__popup-sofa .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop__popup-sofa .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop__popup-bowl {
  position: absolute;
  cursor: pointer;
  bottom: 15.45%;
  right: 24%;
}

.shop__popup-bowl::before, .shop__popup-bowl::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop__popup-bowl:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop__popup-bowl img {
  width: 56px;
  height: 56px;
}

.shop__popup-bowl .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.shop__popup-bowl .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop__popup-bowl .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop__popup-bowl .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop__popup-bowl .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop__popup-bowl .tooltip:hover .tooltiptext {
  visibility: visible;
}

.dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 42px;
  left: 48%;
  z-index: 1;
}

.dashes__long {
  width: 28px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 2px;
}

.dashes__short {
  width: 10px;
  height: 4px;
  margin-left: 6px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 2px;
}

body {
  background-color: #F6F1EC;
  margin-left: 0px;
  margin-right: 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}

.nav__left {
  margin-left: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__left a {
  text-decoration: none;
  color: black;
  padding-right: 24px;
}

.nav__logo {
  padding-top: 20px;
}

.nav__right {
  margin-right: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__right a {
  text-decoration: none;
  color: black;
}

.nav__right a:nth-child(1) {
  margin-right: 32px;
}

.nav__right a:nth-child(2) {
  margin-right: 35px;
}

.nav__right img {
  padding-left: 22px;
}

.footer {
  margin-top: 120px;
  margin-left: 32px;
  margin-right: 32px;
}

.footer__newsletter {
  margin-top: 68px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__newsletter-info {
  width: 55%;
}

.footer__newsletter-info__text {
  color: #1D1D1D;
  margin-top: 9px;
}

.footer__newsletter-email {
  width: 45%;
}

.footer__newsletter-email input {
  height: 72px;
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #E7DED6;
  width: 97%;
  background-image: url("./assetst/icons/button.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.footer__newsletter-email ::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email :-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email ::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email--text {
  margin-top: 12px;
  color: #696355;
}

.footer__newsletter-email--text span {
  color: black;
  font-weight: bold;
  padding: 0px;
  border-bottom: 1px solid black;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7C7269;
}

.footer__info-contact {
  width: 55%;
  margin-top: 45px;
}

.footer__info-contact--title {
  margin-top: 24px;
  color: black;
}

.footer__info-contact--text {
  margin-top: 20px;
  color: black;
}

.footer__info-contact--text span {
  margin-left: 12px;
}

.footer__info-contact--text span img {
  margin-right: 5px;
}

.footer__info-contact--text div {
  padding-bottom: 12px;
}

.footer__info-contact--text img {
  margin-right: 10px;
}

.footer__info-contact--link {
  margin-top: 32px;
  color: black;
}

.footer__info-contact--link span {
  padding-bottom: 5px;
  background: url(../../assetst/icons/line.png) bottom repeat-x;
}

.footer__info-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-links--mizzuni {
  margin-top: 45px;
  margin-right: 115px;
}

.footer__info-links--mizzuni div {
  margin-bottom: 24px;
}

.footer__info-links--mizzuni a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__info-links--geschaft {
  margin-right: 115px;
  margin-top: 45px;
}

.footer__info-links--geschaft div {
  margin-bottom: 24px;
}

.footer__info-links--geschaft a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__info-links--privat {
  margin-top: 45px;
}

.footer__info-links--privat div {
  margin-bottom: 24px;
}

.footer__info-links--privat a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__icons {
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons-pay {
  padding-top: 0px;
}

.footer__icons-pay img {
  margin-right: 10px;
  width: 38px;
  height: 24px;
}

.footer__icons-pay span {
  color: #7C7269;
  padding-top: 0px;
  padding-bottom: 5px;
}

.footer__icons-socials img {
  margin-left: 25px;
  width: 24px;
  height: 24px;
}

.footer__banner {
  margin-top: 34px;
  border-top: 1px solid #1D1D1D;
  border-bottom: 1px solid #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__banner-links {
  padding: 50px 0px;
}

.footer__banner-links a {
  color: black;
}

.footer__banner-links a:nth-child(2) {
  margin-left: 28px;
}

.footer__banner-logo {
  padding-top: 40px;
}

.footer__banner-logo img {
  width: 201px;
  height: 40px;
}

.footer__banner-certificate {
  padding-top: 24px;
}

.footer__banner-certificate img {
  width: 160px;
  height: 76px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px;
  color: #7C7269;
}

.footer__bottom-links a {
  text-decoration: none;
  color: #1D1D1D;
  margin-left: 24px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */