@import './layouts/intro/intro';
@import './layouts/gallery/gallery';
@import './layouts/services/services';
@import './layouts/unterschied/unterschied';
@import './layouts/shop/shop';
@import './layouts/carousel/carousel';






body{
    background-color: #F6F1EC;
    margin-left: 0px;
    margin-right: 0px;
}
.nav{
display: flex;
justify-content: space-between;
border-bottom: 1px solid black;

    &__left{
        margin-left: 36px;
        padding-top: 22px;
        padding-bottom: 22px;

        a{
            text-decoration: none;
            color: black;
            padding-right: 24px;
        }
    }

    &__logo{
        padding-top: 20px;
    }

    &__right{
        margin-right: 36px;
        padding-top: 22px;
        padding-bottom: 22px;

        a{
            text-decoration: none;
            color: black;
        }

        a:nth-child(1){
            margin-right: 32px;
        }

        a:nth-child(2){
            margin-right:35px;
        }

        img{
            padding-left: 22px;
        }
    }
}





.footer{
    margin-top: 120px;
    margin-left: 32px;
    margin-right: 32px;

    &__newsletter{
        margin-top: 68px;
        padding-bottom: 64px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        &-info{
            width: 55%;
            
            &__text{
                color: #1D1D1D;
                margin-top: 9px;
            }
        }

        &-email{
            width: 45%;

            input{
                height: 72px;
                padding-left: 24px;
                background: #FFFFFF;
                border: 1px solid #E7DED6;
                width: 97%;
                background-image: url("./assetst/icons/button.svg");
                background-size: 36px 36px;
                background-repeat: no-repeat;
                background-position: 98% 50%;
            }

            ::placeholder{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #7C7269;
            }

            &--text{
                margin-top: 12px;
                color: #696355;

                span{
                    color: black;
                    font-weight: bold;
                    padding: 0px;
                    border-bottom: 1px solid black;
                }
            }
        }
    }


    &__info{
        display: flex;
        color: #7C7269;

        &-contact{
            width: 55%;
            margin-top: 45px;

            &--title{
                margin-top: 24px;
                color: black;
            }

            &--text{
                margin-top: 20px;
                color: black;

                span{
                    margin-left: 12px;

                    img{
                        margin-right: 5px;
                    }
                }

                div{
                    padding-bottom: 12px;
                }

                img{
                    margin-right: 10px;
                }
            }

            &--link{
                margin-top: 32px;
                color: black;

                span{
                    padding-bottom:  5px;
                    background: url(../../assetst/icons/line.png) bottom repeat-x;
                }
            }
        }

        &-links{
            width: 45%;
            display: flex;

            &--mizzuni{
                margin-top: 45px;
                margin-right: 115px;

                div{
                    margin-bottom: 24px;
                }
                
                a{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 12px;
                }
            }

            &--geschaft{
                margin-right: 115px;
                margin-top: 45px;

                div{
                    margin-bottom: 24px;
                }
                
                a{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 12px;
                }
            }

            &--privat{
                margin-top: 45px;

                div{
                    margin-bottom: 24px;
                }
                
                a{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 12px;
                }
            }
        }
    }


    &__icons{
        margin-top: 76px;
        display: flex;
        justify-content: space-between;

        &-pay{
            padding-top: 0px;
            img{
                margin-right: 10px;
                width: 38px;
                height: 24px;
            }

            span{
                color: #7C7269;
                padding-top: 0px;
                padding-bottom: 5px;
            }
        }

        &-socials{

            img{
                margin-left: 25px;
                width: 24px;
                height: 24px;
            }
        }
    }

    &__banner{
        margin-top: 34px;
        border-top: 1px solid #1D1D1D;
        border-bottom: 1px solid #1D1D1D;
        display: flex;
        justify-content: space-between;

        &-links{
            padding: 50px 0px;

            a{
                color: black;

                &:nth-child(2){
                    margin-left: 28px;
                }
            }
        }

        &-logo{
            padding-top: 40px;

            img{
                width: 201px;
                height: 40px;
            }
        }

        &-certificate{
            padding-top: 24px;

            img{
                width: 160px;
                height: 76px;
            }
        }


    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 32px 0px;
        color: #7C7269;

        &-links{
            a{
            text-decoration: none;
            color: #1D1D1D;
            margin-left: 24px;
            }
        }
    
    }
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }