@import './layouts/intro/intro';
@import './layouts/gallery/gallery';




body{
    background-color: #F6F1EC;
    margin-left: 0px;
    margin-right: 0px;
}
.nav{
display: flex;
justify-content: space-between;
border-bottom: 1px solid black;

    &__left{
        margin-left: 36px;
        padding-top: 22px;
        padding-bottom: 22px;

        a{
            text-decoration: none;
            color: black;
            padding-right: 24px;
        }
    }

    &__logo{
        padding-top: 20px;
    }

    &__right{
        margin-right: 36px;
        padding-top: 22px;
        padding-bottom: 22px;

        a{
            text-decoration: none;
            color: black;
        }

        a:nth-child(1){
            margin-right: 32px;
        }

        a:nth-child(2){
            margin-right:35px;
        }

        img{
            padding-left: 22px;
        }
    }
}


.footer{
    border-top: 2px solid black;
    margin-top: 120px;
    margin-left: 32px;
    margin-right: 32px;

    &__newsletter{
        margin-top: 64px;
        padding-bottom: 64px;
        border-bottom: 2px solid black;
        display: flex;
        width: 100%;
        justify-content: space-between;

        &-info{
            width: 50%;
            
            &__text{
                color: #1D1D1D;
                margin-top: 9px;
            }
        }

        &-email{
            width: 50%;

            input{
                height: 72px;
                padding-left: 24px;
                background: #FFFFFF;
                border: 1px solid #E7DED6;
                width: 97%;
                background-image: url("./assetst/icons/button.svg");
                background-size: 36px 36px;
                background-repeat: no-repeat;
                background-position: 98% 50%;
            }

            ::placeholder{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #7C7269;
            }

            &--text{
                margin-top: 12px;
                color: #696355;

                span{
                    color: black;
                    font-weight: bold;
                    padding: 0px;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}