.intro {
  width: 100%;
  position: relative;
}

.intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background: rgba(29, 29, 29, 0.2);
}

.intro-carousel {
  height: 100%;
}

.intro-carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 0px;
  counter-increment: carousel-cell;
  position: relative;
}

.intro-carousel-cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-carousel-cell__headline {
  position: absolute;
  width: 100%;
  top: 32%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  text-align: center;
}

.intro-carousel-cell .headline__large {
  color: white;
}

.intro-carousel-cell__button {
  position: absolute;
  top: 65%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.intro-carousel-cell__button a {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 210px;
  border-radius: 32px;
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  cursor: pointer;
}

.intro-carousel-cell__button img {
  width: 15px;
  height: 12px;
  margin-left: 6px;
}

.gallery {
  margin-top: 120px;
  margin-right: 32px;
  margin-left: 32px;
}

.gallery__overline {
  text-align: center;
}

.gallery__title {
  margin-top: 12px;
  text-align: center;
}

.gallery__mehr {
  margin-top: 64px;
  text-align: center;
  cursor: pointer;
}

.gallery__mehr a {
  text-decoration: none;
  color: #1d1d1d;
}

.gallery__mehr img {
  width: 20px;
  height: 20px;
}

.gallery__mehr .underline {
  margin-right: 9px;
  padding-bottom: 5px;
  background: url(../../assetst/icons/line.png) bottom repeat-x;
}

.gallery__grid {
  margin-top: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__grid-large {
  width: 50%;
  margin-right: 6px;
  position: relative;
  border-radius: 6px;
}

.gallery__grid-large--button {
  position: absolute;
  left: calc(50% - 190px/2 + 0.5px);
  top: calc(52% - 56px/2);
  cursor: pointer;
  z-index: 2;
}

.gallery__grid-large--button a {
  text-decoration: none;
  width: 190px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  color: #1d1d1d;
  padding: 16px 25px;
  z-index: 1;
}

.gallery__grid-large .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  position: relative;
}

.gallery__grid-large::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(.png);
}

.gallery__grid-small {
  width: 50%;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__grid-small--one {
  position: relative;
}

.gallery__grid-small--one--button {
  position: absolute;
  left: calc(50% - 194px/2 + 0.5px);
  top: calc(52% - 56px/2);
  z-index: 2;
}

.gallery__grid-small--one--button a {
  text-decoration: none;
  color: #1d1d1d;
  width: 194px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  text-align: center;
  padding: 16px 25px;
  z-index: 1;
}

.gallery__grid-small--one .button-arrow {
  width: 16px;
  height: 16px;
  margin-left: 7px;
}

.gallery__grid-small--one img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.gallery__grid-small--one:nth-child(1) {
  margin-bottom: 6px;
}

.gallery__grid-small--one:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(.png);
}

.gallery__grid-small--one:nth-child(2) {
  margin-top: 6px;
}

.gallery__grid-small--one:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.12))), url(.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(.png);
}

.services {
  margin-top: 120px;
}

.services__subtitle {
  text-align: center;
  color: #7C7269;
}

.services__title {
  margin-top: 12px;
  text-align: center;
}

.services__grid {
  margin-top: 64px;
  margin-right: 32px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__grid-card {
  width: 33.3%;
}

.services__grid-card--image {
  position: relative;
}

.services__grid-card--image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background: rgba(0, 0, 0, 0.12);
}

.services__grid-card--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__grid-card--image:nth-child(1) {
  margin-right: 6px;
}

.services__grid-card--image:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.services__grid-card--image:nth-child(3) {
  margin-left: 6px;
}

.services__grid-card--image div {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: 219px;
  left: calc(50% - 219px/2);
  top: calc(50% - 56px/2);
  padding: 16px 0px;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}

.services__grid-card--image div a {
  text-decoration: none;
  color: black;
}

.services__grid-card--image div img {
  margin-left: 7px;
  width: 16px;
  height: 16px;
}

.services__grid-card--text {
  width: 80%;
  margin-top: 16px;
  color: black;
}

.unterschied {
  text-align: center;
  margin: 250px 0px;
}

.unterschied__grid {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 256px;
  margin-right: 160px;
}

.unterschied__grid-card {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unterschied__grid-card img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .unterschied__grid-card img {
      width: 80%;
      height: 50%;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
}

.unterschied__grid-card:nth-child(1) {
  padding-right: 90px;
}

.unterschied__grid-card:nth-child(2) {
  padding-right: 90px;
  padding-left: 90px;
}

.unterschied__grid-card:nth-child(3) {
  padding-left: 90px;
}

.unterschied__grid-card--title {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 46px;
}

.unterschied__grid-card--text {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #7C7269;
  margin-top: 8px;
}

.shop {
  margin: 0px 32px;
  position: relative;
}

.shop-carousel {
  height: 100%;
}

.shop-carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 0px;
  counter-increment: carousel-cell;
  position: relative;
}

.shop-carousel-cell img {
  width: 100%;
  height: 100%;
  z-index: -2;
}

.shop-carousel-cell::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 132px;
  left: 0px;
  top: 85%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(99.48%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 99.48%);
}

.shop-carousel-cell__popup-table {
  position: absolute;
  left: 19.45%;
  bottom: 23.45%;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.shop-carousel-cell__popup-table::before, .shop-carousel-cell__popup-table::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop-carousel-cell__popup-table:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop-carousel-cell__popup-table img {
  width: 56px;
  height: 56px;
}

.shop-carousel-cell__popup-table .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
  border: none;
}

.shop-carousel-cell__popup-table .tooltip a {
  text-decoration: none;
  color: black;
}

.shop-carousel-cell__popup-table .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop-carousel-cell__popup-table .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop-carousel-cell__popup-table .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop-carousel-cell__popup-table .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop-carousel-cell__popup-table .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop-carousel-cell__popup-lamp {
  position: absolute;
  cursor: pointer;
  top: 42.92%;
  left: 31.2%;
}

.shop-carousel-cell__popup-lamp::before, .shop-carousel-cell__popup-lamp::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop-carousel-cell__popup-lamp:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop-carousel-cell__popup-lamp img {
  width: 56px;
  height: 56px;
}

.shop-carousel-cell__popup-lamp .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
  border: none;
}

.shop-carousel-cell__popup-lamp .tooltip a {
  text-decoration: none;
  color: black;
}

.shop-carousel-cell__popup-lamp .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop-carousel-cell__popup-lamp .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop-carousel-cell__popup-lamp .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop-carousel-cell__popup-lamp .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop-carousel-cell__popup-lamp .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop-carousel-cell__popup-sofa {
  position: absolute;
  cursor: pointer;
  bottom: 33.27%;
  left: 60.75%;
}

.shop-carousel-cell__popup-sofa::before, .shop-carousel-cell__popup-sofa::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop-carousel-cell__popup-sofa:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop-carousel-cell__popup-sofa img {
  width: 56px;
  height: 56px;
}

.shop-carousel-cell__popup-sofa .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
  border: none;
}

.shop-carousel-cell__popup-sofa .tooltip a {
  text-decoration: none;
  color: black;
}

.shop-carousel-cell__popup-sofa .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop-carousel-cell__popup-sofa .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop-carousel-cell__popup-sofa .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop-carousel-cell__popup-sofa .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop-carousel-cell__popup-sofa .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop-carousel-cell__popup-bowl {
  position: absolute;
  cursor: pointer;
  bottom: 15%;
  right: 24%;
}

.shop-carousel-cell__popup-bowl::before, .shop-carousel-cell__popup-bowl::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0%;
  bottom: 25%;
  right: 10%;
  left: 10%;
  border-radius: 50%;
}

.shop-carousel-cell__popup-bowl:hover::after {
  background: #C4C4C4;
  z-index: 1;
  -webkit-animation: pulse 3000ms infinite;
          animation: pulse 3000ms infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: 0;
  }
}

.shop-carousel-cell__popup-bowl img {
  width: 56px;
  height: 56px;
}

.shop-carousel-cell__popup-bowl .tooltip {
  position: relative;
  display: inline-block;
  z-index: 5;
  border: none;
}

.shop-carousel-cell__popup-bowl .tooltip a {
  text-decoration: none;
  color: black;
}

.shop-carousel-cell__popup-bowl .tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 5;
  bottom: 120%;
  left: 25%;
}

.shop-carousel-cell__popup-bowl .tooltip .tooltiptext img {
  margin-left: 7px;
  width: 4px;
  height: 10px;
}

.shop-carousel-cell__popup-bowl .tooltip .tooltiptext p {
  margin: 0px;
  color: #7C7269;
  padding-bottom: 0px;
}

.shop-carousel-cell__popup-bowl .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop-carousel-cell__popup-bowl .tooltip:hover .tooltiptext {
  visibility: visible;
}

.shop .flickity-prev-next-button.previous {
  top: 50%;
  left: 10px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 2;
}

.shop .flickity-prev-next-button.next {
  top: 50%;
  right: 10px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 2;
}

.shop .flickity-page-dots .dot {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 2px;
}

.shop .flickity-button-icon {
  fill: white;
}

.container {
  margin-top: 120px;
  margin-left: 32px;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.carousel {
  margin-top: 32px;
}

.carousel-cell {
  width: 22%;
  height: 600px;
  margin-right: 12px;
  counter-increment: carousel-cell;
}

.carousel-cell a {
  text-decoration: none;
  color: black;
}

.carousel-cell-image {
  width: 100%;
  position: relative;
}

.carousel-cell-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-cell-image--filter {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
}

.carousel-cell-image--filter img {
  width: 40px;
  height: 40px;
}

.carousel-cell-info {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-cell-info .subtitle {
  color: #7C7269;
}

.carousel-cell-info .includes {
  color: #7C7269;
}

.flickity-prev-next-button.previous {
  top: -10%;
  right: 92px;
}

.flickity-prev-next-button.next {
  top: -10%;
  right: 32px;
  background: rgba(29, 29, 29, 0.1);
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .carousel-cell {
      width: 22%;
      height: 600px;
      margin-right: 12px;
      counter-increment: carousel-cell;
    }
  }
}

@supports (-ms-ime-align: auto) {
  .carousel-cell {
    width: 22%;
    height: 600px;
    margin-right: 12px;
    counter-increment: carousel-cell;
  }
}

body {
  background-color: #F6F1EC;
  margin-left: 0px;
  margin-right: 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}

.nav__left {
  margin-left: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__left a {
  text-decoration: none;
  color: black;
  padding-right: 24px;
}

.nav__logo {
  padding-top: 20px;
}

.nav__right {
  margin-right: 36px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.nav__right a {
  text-decoration: none;
  color: black;
}

.nav__right a:nth-child(1) {
  margin-right: 32px;
}

.nav__right a:nth-child(2) {
  margin-right: 35px;
}

.nav__right img {
  padding-left: 22px;
}

.footer {
  margin-top: 120px;
  margin-left: 32px;
  margin-right: 32px;
}

.footer__newsletter {
  margin-top: 68px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__newsletter-info {
  width: 55%;
}

.footer__newsletter-info__text {
  color: #1D1D1D;
  margin-top: 9px;
}

.footer__newsletter-email {
  width: 45%;
}

.footer__newsletter-email input {
  height: 72px;
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #E7DED6;
  width: 97%;
  background-image: url("./assetst/icons/button.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.footer__newsletter-email ::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email :-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email ::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email ::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #7C7269;
}

.footer__newsletter-email--text {
  margin-top: 12px;
  color: #696355;
}

.footer__newsletter-email--text span {
  color: black;
  font-weight: bold;
  padding: 0px;
  border-bottom: 1px solid black;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7C7269;
}

.footer__info-contact {
  width: 55%;
  margin-top: 45px;
}

.footer__info-contact--title {
  margin-top: 24px;
  color: black;
}

.footer__info-contact--text {
  margin-top: 20px;
  color: black;
}

.footer__info-contact--text span {
  margin-left: 12px;
}

.footer__info-contact--text span img {
  margin-right: 5px;
}

.footer__info-contact--text div {
  padding-bottom: 12px;
}

.footer__info-contact--text img {
  margin-right: 10px;
}

.footer__info-contact--link {
  margin-top: 32px;
}

.footer__info-contact--link a {
  text-decoration: none;
  color: #1D1D1D;
}

.footer__info-contact--link span {
  padding-bottom: 5px;
  background: url(../../assetst/icons/line.png) bottom repeat-x;
}

.footer__info-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-links--mizzuni {
  margin-top: 45px;
  margin-right: 115px;
}

.footer__info-links--mizzuni div {
  margin-bottom: 24px;
}

.footer__info-links--mizzuni a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__info-links--geschaft {
  margin-right: 115px;
  margin-top: 45px;
}

.footer__info-links--geschaft div {
  margin-bottom: 24px;
}

.footer__info-links--geschaft a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__info-links--privat {
  margin-top: 45px;
}

.footer__info-links--privat div {
  margin-bottom: 24px;
}

.footer__info-links--privat a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 12px;
}

.footer__icons {
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icons-pay {
  padding-top: 0px;
}

.footer__icons-pay img {
  margin-right: 10px;
  width: 38px;
  height: 24px;
}

.footer__icons-pay span {
  color: #7C7269;
  padding-top: 0px;
  padding-bottom: 5px;
}

.footer__icons-socials img {
  margin-left: 25px;
  width: 24px;
  height: 24px;
}

.footer__banner {
  margin-top: 34px;
  border-top: 1px solid #1D1D1D;
  border-bottom: 1px solid #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__banner-links {
  padding: 50px 0px;
}

.footer__banner-links a {
  color: black;
}

.footer__banner-links a:nth-child(2) {
  margin-left: 28px;
}

.footer__banner-logo {
  padding-top: 40px;
}

.footer__banner-logo img {
  width: 201px;
  height: 40px;
}

.footer__banner-certificate {
  padding-top: 24px;
}

.footer__banner-certificate img {
  width: 160px;
  height: 76px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px;
  color: #7C7269;
}

.footer__bottom-links a {
  text-decoration: none;
  color: #1D1D1D;
  margin-left: 24px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */