.intro{
    width: 100%;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.5%;
        background: rgba(29, 29, 29, 0.2);
    }



    &-carousel {
        height: 100%;



        &-cell {
        width: 100%;
        height: auto;
        margin-right: 0px;
        counter-increment: carousel-cell;
        position: relative;

    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__headline{
            position: absolute;
            width: 100%;
            top: 32%;
            left: 0%;
    
            display: flex;
            justify-content: center;    
            z-index: 1;
            text-align: center;
        }

        .headline__large{
            color: white;
        }
    
        &__button{
            position: absolute;
            top: 65%;
            width: 100%;
            z-index: 1;
            display: flex;
            justify-content: center;    
            z-index: 1;

            a{
                text-decoration: none;
                text-align: center;
                color: black;
                width: 210px;
                border-radius: 32px;
                padding: 15px;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
                border-radius: 32px;
                cursor: pointer;
            }


            img{
                width: 15px;
                height: 12px;
                margin-left: 6px;
            }
        } 
    }

}

}


@media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .intro-carousel-cell { 
        width: 100%;
        height: 100vh;
        margin-right: 0px;
        counter-increment: carousel-cell;
        position: relative;
    }
}}

