.intro{
    width: 100%;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(29, 29, 29, 0.2);
    }

    img{
        
        width: 100%;
        object-fit: cover;
    }


  

    &__headline{
        position: absolute;
        top: 343px;
        width: 1020px;
        left: calc(50% - 1020px/2);
        text-align: center;
        z-index: 1;
    }

    .headline__large{
        color: white;
    }

    &__button{
        position: absolute;
        top: 575px;
        right: 45%;
        z-index: 1;

        width: 210px;
        border-radius: 32px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        background: #FFFFFF;
        box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
        border-radius: 32px;
        font-weight: 400;

        img{
            width: 16px;
            height: 16px;
            margin-left: 6px;
        }
    } 
}


.dashes{

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 42px;
    left: 48%;

    &__long{
        width: 28px;
        height: 4px;
        background: #FFFFFF;
        border-radius: 2px;
    }

    &__short{
        width: 10px;
        height: 4px;

        margin-left: 6px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);

        /* Note: backdrop-filter has minimal browser support */
        border-radius: 2px;
    }
}
