.intro{
    width: 100%;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(29, 29, 29, 0.2);
    }

    img{
        
        width: 100%;
        object-fit: cover;
    }

        

        &__headline{
            position: absolute;
            width: 100%;
            top: 32%;
            left: 0%;
    
            display: flex;
            justify-content: center;    
            z-index: 1;
            text-align: center;
        }
    
        .headline__large{
            color: white;
        }
    
        &__button{
            z-index: 1;
            display: flex;
            justify-content: center;    
            z-index: 1;
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: 30%;


            button{
            width: 210px;
            border-radius: 32px;
            padding: 15px;
            background: #FFFFFF;
            box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 0px 6px 16px rgba(0, 0, 0, 0.15);
            border-radius: 32px;
            font-weight: 400;
            outline: none;

            }
            
    
            img{
                width: 15px;
                height: 12px;
                margin-left: 6px;
            }
        } 

}



.dashes{

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 42px;
    left: 40%;

    &__long{
        width: 28px;
        height: 4px;
        background: #FFFFFF;
        border-radius: 2px;
    }

    &__short{
        width: 10px;
        height: 4px;

        margin-left: 6px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);

        /* Note: backdrop-filter has minimal browser support */
        border-radius: 2px;
    }
}
