.gallery{
    margin-top: 120px;
    margin-right: 32px;
    margin-left: 32px;
    

    &__overline{
        text-align: center;
    }

    &__title{
        margin-top: 12px;
        text-align: center;
    }

    &__mehr{
        margin-top: 64px;
        text-align: center;
        cursor: pointer;

        a{
            text-decoration: none;
            color: #1d1d1d;
        }
        

        img{
            width: 20px;
            height: 20px;
            
        }

        .underline{
            margin-right: 9px;
            padding-bottom:  5px;
            background: url(../../assetst/icons/line.png) bottom repeat-x;
        }
    }
}


.gallery__grid{
    margin-top: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    &-large{
        width: 50%;
        margin-right: 6px;
        position: relative;
        border-radius: 6px;

        &--button{
            position: absolute;
            left: calc(50% - 190px/2 + 0.5px);
            top: calc(52% - 56px/2);
            cursor: pointer;
            z-index: 2;

            a{
                text-decoration: none;
                width: 190px;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 
                0px 6px 16px rgba(0, 0, 0, 0.15);
                border-radius: 32px;
                text-align: center;
                color: #1d1d1d;
                padding: 16px 25px;
                z-index: 1;
            }
            

            

        }

        .button-arrow{
            width: 16px;
            height: 16px;
            margin-left: 7px;
        }


    }


    &-large img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        position: relative;
    }

    &-large::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;       
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), 
        rgba(0, 0, 0, 0.15)), url(.png);
    }




    &-small{
        width: 50%;
        margin-left: 6px;
        display: flex;
        flex-direction: column;
    }

    &-small--one{
        position: relative;
    
        &--button{
            position: absolute;
            left: calc(50% - 194px/2 + 0.5px);
            top: calc(52% - 56px/2);
            z-index: 2;

            a{
                text-decoration: none;
                color: #1d1d1d;
                width: 194px;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.1), 
                0px 6px 16px rgba(0, 0, 0, 0.15);
                border-radius: 32px;
                text-align: center;
                padding: 16px 25px;
                z-index: 1;
            }  
        }

        .button-arrow{
            width: 16px;
            height: 16px;
            margin-left: 7px;
        }
    }
    

    &-small--one img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    &-small--one:nth-child(1){
        margin-bottom: 6px;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            border-radius: 6px;      
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.08),
            rgba(0, 0, 0, 0.08)), url(.png);
        }
    }

    &-small--one:nth-child(2){
        margin-top: 6px;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;     
            border-radius: 6px;  
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.12),
            rgba(0, 0, 0, 0.12)), url(.png);
        }
    }

}